<!doctype html>
<html lang="en">

<head>
  <title>ClinicPlus</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <th:block th:replace="fragments/navbar :: navbar"></th:block>
  <div class="row">
    <br>
    <div class="tablas centrar">
      <h3>
        Editar Datos
      </h3>
    </div>

    <br>
    <div class="tablas row">
      <form action="#" th:action="@{/pacientes/editar}" th:object="${paciente}" method="post">
        <div class="form-group">
          <label for="formGroupExampleInput">ID</label>
          <input th:field="*{id}" type="text" readonly="readonly" class="form-control" id="formGroupExampleInput"
            placeholder="id ">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">Nombre </label>
          <input th:field="*{nombre}" type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre ">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Apellido</label>
          <input th:field="*{apellido}" type="text" class="form-control" id="formGroupExampleInput2"
            placeholder="apellido">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Direccion</label>
          <input th:field="*{direccion}" type="text" class="form-control" id="formGroupExampleInput2"
            placeholder="direccion de ejemplo #111">
        </div>
        <button action="#" type="submit" class="btn btn-primary">Editar</button>
        <a type="button" href="recetas/nuevaReceta" class="btn btn-primary">Dar Receta</a>
      </form>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>